"""Django Project configuration variables for Sana.

Default values available in settings.py.tmpl should be copied to settings.py 
prior to filling in local values. Once updated, enter the following from the 
mds installation directory:
    
    $> ./manage.py syncdb
    
This will require root privileges. 
    
:Authors: Sana Development Team
:Version: 2.0
"""
import os
from django.utils.translation import ugettext_lazy as _

SITE_ROOT = '/opt/sana/sana.mds/'
BASE_DIR = SITE_ROOT + 'mds/'
CACHE_ROOT = SITE_ROOT + 'cache/'

DEBUG = True
''' Global debug level. Should be set to False in production environments. '''

TEMPLATE_DEBUG = DEBUG
''' Template debug level. Should be set to False in production environments. '''

ADMINS = (
    # ('Your Name', 'your_email@domain.com'),
)
''' Tuple of admin names and email addresses. '''

MANAGERS = ADMINS

### Database settings
# replace with mysql or other settings as necessary
DATABASES = {
    'default': {
        'NAME': 'mds',
        'ENGINE': 'django.db.backends.mysql',
        'USER': 'mds',
        'PASSWORD': '********',
        'HOST': '',
        'PORT': '',
    },
}

'''
DATABASES = {
    'default': {
        'NAME': '/opt/sana/cache/db/mds.db',
        'ENGINE': 'django.db.backends.sqlite3',
        'USER': '',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
    },
}
'''
TIME_ZONE = 'America/Chicago'
"""Local time zone for this installation. Choices can be found here:

    http://en.wikipedia.org/wiki/List_of_tz_zones_by_name

although not all choices may be available on all operating systems.
If running in a Windows environment this must be set to the same as your
system time zone.
"""

#LANGUAGES = ()
''' If translating uncomment and add supported languages to line above '''

LANGUAGE_CODE = 'en-us'
"""Language code for this installation. All choices can be found here:

    http://www.i18nguy.com/unicode/language-identifiers.html
"""
LANGUAGE_SESSION_KEY = '_language'
''' Forward compatibility inclusion of explicit key. '''

LANGUAGE_COOKIE_NAME = 'language'
''' Setting required to make translation work in the portal '''

LOCALE_PATHS = (
    os.path.join(BASE_DIR, 'locale'),
)

SITE_ID = 1
"""Don't touch this unless you know what you are doing."""


USE_I18N = True
"""If you set this to False, Django will make some optimizations so as not to 
load the internationalization machinery."""


STATIC_URL = "/mds/static/"
"""URL that handles the media served from STATIC_ROOT. Make sure to use a
trailing slash if there is a path component (optional in other cases). """

STATIC_ROOT = CACHE_ROOT + 'static/'
"""Absolute path to the directory that holds static media. Default value: 
"/opt/sana/sana.mds/cache/static/"
"""

ADMIN_MEDIA_PREFIX = '/mds/static/'
"""URL prefix for admin media -- CSS, JavaScript and images. Make sure to use a
trailing slash. Default value "/static/admin/".
"""

MEDIA_ROOT = CACHE_ROOT+'media/'
"""Absolute path to the directory that holds media. Default value: 
"/opt/sana/sana.mds/cache/media/"
"""

MEDIA_URL = '/mds/media/'
"""URL that handles the media served from MEDIA_ROOT. Make sure to use a
trailing slash if there is a path component (optional in other cases). Default
value: "/mds/media/". """


SECRET_KEY = 'b#%x46e0f=jx%_#-a9b5(4bvxlfz-obm*gs4iu3i6k!034j(mx'
"""Make this unique, and don't share it with anybody. Seriously."""

TEMPLATE_LOADERS = (
    ('django.template.loaders.cached.Loader', (
        'django.template.loaders.filesystem.Loader',
        'django.template.loaders.app_directories.Loader',
    )),
)

TEMPLATE_CONTEXT_PROCESSORS = (
    'django.contrib.auth.context_processors.auth',
    'django.core.context_processors.debug',
    'django.core.context_processors.i18n',
    'django.core.context_processors.media',
    'django.core.context_processors.static',
    'django.core.context_processors.tz',
    'django.contrib.messages.context_processors.messages',
    'django.core.context_processors.request',
)

"""List of callables that know how to import templates from various sources."""

MIDDLEWARE_CLASSES = (
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.middleware.locale.LocaleMiddleware',
    'django.middleware.common.CommonMiddleware',
    'django.contrib.messages.middleware.MessageMiddleware',
    'django.contrib.auth.middleware.AuthenticationMiddleware',
    'mds.api.contrib.middleware.LoggingMiddleware',
)
"""Don't touch this unless you know what you are doing."""

ROOT_URLCONF = 'mds.urls'
"""Don't touch this unless you know what you are doing."""

TEMPLATE_DIRS = (
    SITE_ROOT+'mds/templates',
)
"""Put strings here, like "/home/html/django_templates" or 
"C:/www/django/templates". Always use forward slashes, even on Windows. Don't 
forget to use absolute paths, not relative paths.For a typical Sana 
deployment use: "/opt/sana/templates/"."""

INSTALLED_APPS = (
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.messages',
    'django.contrib.sites',
    'django.contrib.admin',
    'django.contrib.staticfiles',
    'django_extensions',
    'mds.mrs',
    'mds.core',
    'mds.tasks',
)
"""To run in standalone mode, add

    'mds.web',
    'mds.clients',
    
    When updating, add
    
    'south;
    
    and read the django south documentation. Note: south is integrated
    into django for >= 1.8
"""

FIXTURE_DIRS = (
)

ALLOWED_INCLUDE_ROOTS = (
    SITE_ROOT+'mds/templates/web/includes',
    SITE_ROOT+'mds/templates',
)

LOGIN_URL = '/mds/login/'
try:
    from local_settings import *
except ImportError, exp:
    pass
