<!DOCTYPE HTML>
<html>
  <head>
    {% block meta %}
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <meta charset="utf-8" />
    {% endblock meta %}

    <title>{% block title %}{%endblock %}</title>
    {% load static %}
    {% get_static_prefix as STATIC_PREFIX %}
    
  {% block style %}
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/jquery-ui.css">
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/jquery-ui.custom.css" >
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/danastyles.css"/>
  {% endblock style %}

  {% block script %}
  <script src="{{ STATIC_PREFIX }}js/jquery-1.10.1.js"></script>
  <script src="{{ STATIC_PREFIX }}js/jquery-ui.js"></script>
  <script src="{{ STATIC_PREFIX }}js/core.js"></script>
  {% endblock script %}
  <script type="text/javascript">
    root="";
    {% block flavorscript %}
    //var ua = navigator.userAgent.toLowerCase();
    {% endblock flavorscript %}
  </script>
  </head>
  <body>
    {% block body %}

    {% endblock %}
    {% block footer %}
    <div data-role="footer" data-position="fixed" class="jqm-footer">
      <p align="center">
      {% block flavorfooter %}
       <!-- footer content for desktop, mobile, etc. -->
      {% endblock flavorfooter %}
      </p>
    </div>
    {% endblock footer %}
  </body>
</html>
