{% load i18n %}
{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}
{# Include the visible fields #}
<table class="content-form">
    <tfoot>
        <tr>
        <td class="alignleft">
            <a href="{% url 'web:'|add:model|add:'-list' %}"><strong>Back</strong></a>
        </td>
        <td class="alignright">
                {% if object %}
                    <input type="submit" value="{% trans 'Update' %}" />
                {% else %}
                    <input type="submit" value="{% trans 'Add' %}" />
                {% endif %}
        </td>
        </tr>
    </tfoot>
<tbody>
{% for field in form.visible_fields %}
<tr class="{% cycle 'evenrow' 'oddrow' %}" style="padding:3px">
    <td class="text-left">
            <div class="fieldWrapper">
            {{ field.errors }}{{ field.label_tag }}
            </div>
    </td>
    <td class="text-right">
        {{ field }}
    </td>
</tr>
{% endfor %}
<tbody>
</table>

