{% extends "web/base.html" %}
{% load url from future %}
{% block extrastyle %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}web/css/liststyle.css">
{% endblock %}
{% block extrascript %}
    $(document).ready(function(){        
        $("#id_password").attr("type","password");
        $( document ).on( 'focus', ':input', function(){
            $( this ).attr( 'autocomplete', 'off' );
        });
    });
{% endblock %}
{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<form method="post" action=".">
{% csrf_token %}
<table class="content-list" style="color:#696969">
    <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
    </tr>
    <tr class="footerrow">
        <td colspan="2" style="text-align:center">
            <input type="submit" value="login" />
        </td>
    </tr>
</table>
<input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}